main button:not(.gov-button--icon-only),
main .button,
main a.button {
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: none;
  color: var(--button-foreground);
  display: inline-block;
  padding: var(--button-padding);
  letter-spacing: .1em;
  transition: var(--trans-out);
  font-weight: var(--fw-medium);
  appearance: none;
  cursor: pointer;
}

main button:not(.gov-button--icon-only):hover,
main .button:hover,
main a.button:hover,
main button:focus,
main .button:focus,
main a.button:focus {
  box-shadow: var(--button-box-shadow-hover);
  transition: var(--trans-in);
}

main a.button-primary {
  background: var(--button-primary-background);
  color: var(--button-primary-foreground);
}

main a.button-secondary {
  background: var(--button-secondary-background);
  color: var(--button-secondary-foreground);
}

main a.button-light {
  background: var(--button-light-background);
  color: var(--button-light-foreground);
}

main a.button-dark {
  background: var(--button-dark-background);
  color: var(--button-dark-foreground);
}

/* Arrow marker for CTA link. */
main .cta-link:after {
  content: "››";
  display: inline-block;
  font-weight: var(--fw-bold);
  margin-left: var(--spacing--t);
}

main .cta-link:hover:after {
  animation: arrow-animate 1.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  opacity: 1;
}

@keyframes arrow-animate {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(15px);
    opacity: 1;
  }
}
