.form-item, 
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form--inline {
  display: flex;
  gap: 0.5em;
}

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  border: 3px solid var(--form-border-color);
  background-color: var(--form-background);
  color: var(--form-text);
  border-radius: var(--form-border-radius);
  padding: var(--form-input-padding);
  vertical-align: middle;
  appearance: none;
  width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-radius: 0;
  background-color: var(--form-background)
    /* Keep the light-bg when focusing on success/error */
}

.form-actions .input {
  height: 100%;
}
