/* Arrow marker for View more link. */
.view .more-link:after {
  content: "››";
  display: inline-block;
  font-weight: var(--fw-bold);
  margin-left: var(--spacing--t);
  margin-top: var(--spacing--s);
}

main .more-link:hover:after {
  animation: arrow-animate 1.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
  opacity: 1;
}

@keyframes arrow-animate {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(15px);
    opacity: 1;
  }
}
