.field--label-inline .field__label {
  display: inline-block;
  font-weight: var(--fw-bold);
}

.field--label-inline .field__label:after {
  content: ": ";
}

.field--label-inline .field__item {
  display: inline-block;
}

.field--label-inline .field__items {
  display: inline-block;
}

.field__label {
  font-weight: var(--fw-bold);
}
