.paragraph {
  padding: var(--csgov-spacing-xl) 0;
}

.paragraph__heading {
  margin-bottom: var(--csgov-spacing-m);
}

/* Limit the width of specific tags for better readability,
 but leave others intact (e.g. table) as we want to use the whole width. */
.paragraph__content p,
.paragraph__content ul,
.paragraph__content ol,
.paragraph__content h2,
.paragraph__content h3,
.paragraph__content h4,
.paragraph__content h5,
.paragraph__content h6 {
  max-width: var(--csgov-content-width);
}

.background--primary {
  background: var( --csgov-color-primary-light);
}

.background--secondary {
  background: var(--csgov-color-secondary-lighter);
}
