.csgov-guide__container {
  padding-left: 0;
}

.csgov-guide__navigation {
  /* margin-top: var(--csgov-spacing-xl); */
  padding-inline: var(--csgov-site-padding);
}

.csgov-guide__navigation .gov-stepper-item .gov-stepper-item__label .gov-stepper-item__label__link {
  font-size: var(--csgov-fs-m);
  color: var(--text-secondary);
}

.csgov-guide__navigation .gov-stepper-item.step-by-step--current .gov-stepper-item__prefix {
  border: 2px solid var(--border-neutral);
}

.csgov-guide__navigation .gov-stepper-item.step-by-step--current .gov-stepper-item__label .gov-stepper-item__label__link,
.csgov-guide__navigation .gov-stepper-item.step-by-step--current ~ * .gov-stepper-item__label .gov-stepper-item__label__link {
  font-size: var(--csgov-fs-xl);
  color: inherit;
}

.csgov-guide__parent {
  border-left: 5px solid var(--border-primary);
  background: var(--background-primary-subtle);
  border-radius: var(--border-radius);
  padding: var(--csgov-spacing-s) var(--csgov-spacing);
}

.csgov-guide__parent-label {
  font-size: var(--csgov-fs-l);
  font-weight: var(--csgov-fw-bold);
}

.csgov-guide__parent-label__pretitle {
  display: block;
}

.csgov-guide__parent-label a {
  font-weight: var(--csgov-fw-normal);
}
