.accordion {
  margin-block: var(--spacing--m);
}

.accordion-toggle-all {
  font-size: var(--fs-small);
  color: var(--c-default-text);
  font-weight: var(--fw-thin);
  width: auto;
  padding: 1rem;
}

.accordion-item+.accordion-item {
  border-top: var(--accordion-item-border);
}

.accordion-item__label {
  width: 100%;
  margin: 0;
}

.accordion-item__trigger,
.accordion-toggle-all {
  background: transparent;
  border: none;
  color: var(--c-default-action);
  width: 100%;
  text-align: left;
  cursor: default;
  letter-spacing: normal;
}

.accordion-item__trigger:hover,
.accordion-item__trigger:focus,
.accordion-toggle-all:hover,
.accordion-toggle-all:focus {
  box-shadow: none;
  background: var(--c-default-action-hover);
  color: var(--c-default-text);
}

.accordion-item__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion-item__icon,
.accordion-toggle-all__icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  font-size: initial;
  transform: translateY(20%);
}

.accordion-item__icon svg,
.accordion-toggle-all__icon svg {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

.accordion-item__trigger[aria-expanded="true"] .accordion-item__icon,
.accordion-toggle-all[aria-expanded="true"] .accordion-toggle-all__icon {
  transform: translateY(20%) rotate(180DEG);
}

.accordion-item__toggle__text {
  font-size: var(--fs-small);
  color: var(--c-default-text);
  font-weight: var(--fw-thin);
}

.accordion-panel {
  padding: 2rem;
}

.accordion-panel fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* If JS is disabled, we hide/show certain part of the component. */
html:not(.js) .accordion-panel {
  display: block;
}

html:not(.js) .accordion-item__trigger,
html:not(.js) .accordion-item__toggle,
html:not(.js) .accordion-toggle-all {
  display: none;
}
