.back-to-top__link {
  padding: 0.1em 0.5em;
  background: var(--c-primary-bg);
  border: none;
  display: block;
  opacity: 0;
  position: fixed;
  transition: var(--trans-out);
  z-index: -1;
  border-radius: 100%;
  bottom: 70px;
  right: 30px;
  height: 55px;
  overflow: hidden;
  width: 55px;
}

.back-to-top__link svg {
  width: var(--spacing);
  height: var(--spacing);
  transition: var(--trans-out);
}

.back-to-top__link:hover {
  background: var(--c-primary-bg);
  transition: var(--trans-in);
}

.back-to-top__link svg path {
  fill: var(--c-primary-action);
  transition: var(--trans-out);
}

.back-to-top__link:hover svg {
  font-size: 3rem;
  transition: var(--trans-in);
  transform: translateY(-5px);
}

.back-to-top__link:hover svg path {
  fill: var(--c-primary-action);
  transition: var(--trans-in);
}

.back-to-top__link:focus,
.back-to-top__link.is-visible {
  opacity: 1;
  transition: var(--trans-in);
  z-index: 9999;
}
