/* Search block (default). */
.region-search .form--inline {
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;
  gap: 1rem;
  display: grid;
}

.region-search .form--inline .form-item,
.region-search .form--inline .form-actions,
.region-search .form--inline .form-text {
  display: block;
  margin: 0;
}

.form-item-search label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.region-search .form--inline .form-text::placeholder {
  color: hsl(0, 0%, 60%);
  opacity: 1;
}

.region-search .form--inline .form-text::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: hsl(0, 0%, 60%);
  opacity: 1;
}

.region-search .form--inline .form-text::-moz-placeholder {
  /* Firefox 19+ */
  color: hsl(0, 0%, 60%);
  opacity: 1;
}

.search-box__button {
  grid-area: 1/1/2/3;
  aspect-ratio: 1/1;
  height: 100%;
  background: var(--button-background);
  border: 3px solid var(--button-background);
  border-radius: var(--form-border-radius);
  box-shadow: none;
  color: var(--button-foreground);
  letter-spacing: .1em;
  transition: var(--trans-out);
  font-weight: var(--fw-medium);
  appearance: none;
  cursor: pointer;
  display: flex;
}

.search-box__button svg {
  height: var(--fs-large);
  width: var(--fs-large);
  margin: auto;
}

.search-box__button svg path {
  fill: var(--button-foreground);
}
