.list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--layout-gap);
}

.list > .list__item > .paragraph,
.list > .list__item > .node {
  height: 100%;
}

.list > .list__item {
  --columns: 1;
  padding: 0;
  width: calc((100% / var(--columns)) - (var(--layout-gap) / var(--columns) * (var(--columns) - 1)));
}

@media screen and (min-width: 40rem) {
  .list-layout--halves .list  > .list__item {
    --columns: 2;
  }

  .list-layout--thirds .list > .list__item {
    --columns: 2;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--thirds .list > .list__item {
    --columns: 3;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--quarters .list > .list__item {
    --columns: 2;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--quarters .list > .list__item {
    --columns: 4;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--fifths .list > .list__item {
    --columns: 5;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--sixths .list > .list__item {
    --columns: 3;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--sixths .list > .list__item {
    --columns: 6;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--equal .list > .list__item {
    --columns: 3;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--equal .list > .list__item {
    --columns: 6;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(2),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item {
    --columns: 2;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(3),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item {
    --columns: 3;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
    --columns: 2;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
    --columns: 4;
  }
}

@media screen and (min-width: 40rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
    --columns: 3;
  }
}

@media screen and (min-width: 48rem) {
  .list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
    --columns: 5;
  }
}

/* Calendar item view mode in list. */
.list.erd-list--calendar-item {
  gap: 2px;
}
