{{ attach_library('gov_cz/gov-icon') }}
<div class="phone-number">
  <div class="gov-icon field-phone__icon" aria-label="{{ 'Telephone'|t }}">
    <span class="gov-icon__holder">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none">
        <path fill="currentColor" fill-rule="nonzero" d="M5.481,1.993C5.105,1.51 4.391,1.465 3.959,1.898L2.408,3.449C1.682,4.174 1.416,5.201 1.733,6.103C3.005,9.722 5.088,13.12 7.984,16.016C10.88,18.912 14.278,20.995 17.897,22.267C18.799,22.584 19.826,22.318 20.551,21.592L22.102,20.042C22.535,19.609 22.49,18.895 22.007,18.519L18.548,15.829C18.301,15.637 17.98,15.569 17.677,15.645L14.393,16.466C13.501,16.689 12.558,16.427 11.908,15.777L8.223,12.092C7.573,11.442 7.311,10.499 7.534,9.607L8.355,6.323C8.431,6.02 8.363,5.699 8.171,5.452L5.481,1.993ZM2.827,0.767C3.94,-0.347 5.777,-0.232 6.744,1.01L9.434,4.47C9.928,5.105 10.102,5.931 9.907,6.711L9.087,9.995C9,10.342 9.101,10.708 9.354,10.961L13.039,14.646C13.292,14.899 13.658,15 14.005,14.913L17.289,14.092C18.069,13.898 18.895,14.072 19.53,14.566L22.99,17.256C24.232,18.223 24.347,20.06 23.233,21.173L21.683,22.724C20.573,23.833 18.913,24.321 17.367,23.777C13.526,22.427 9.922,20.216 6.853,17.147C3.784,14.078 1.573,10.474 0.223,6.633C-0.321,5.087 0.167,3.427 1.276,2.318L2.827,0.767Z"/>
      </svg>
    </span>
  </div>
  {{ phone_number }}
</div>
