.gov-alert {
  --gov-color-white: #FFFFFF;
  --gov-color-error: #c52a3a;
  --gov-color-grey-mid: #686868;
  --gov-color-grey-dark: #3b3b3b;
  --gov-color-yellow: #ecae1a;
  --gov-color-blue-hover: #e5ebf0;
}

.gov-alert {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  padding-right: 2.5rem;
  width: 100%;
  background-color: var(--gov-color-white)
}

.gov-alert:before {
  content: "b";
  display: inline-block;
  position: relative;
  padding-top: .125rem;
  color: var(--gov-color-error);
  font-family: "gov-basic-icons";
  font-size: 1.25rem
}

.gov-alert__content {
  display: inline-block;
  margin-left: 1rem;
  max-width: 1040px;
  width: 100%
}

.gov-alert__content>*:last-child {
  margin-bottom: 0
}

.gov-alert__close {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  color: var(--gov-color-grey-mid)
}

.gov-alert__close .gov-icon {
  font-size: .75rem
}

.gov-alert--inversed {
  background-color: var(--gov-color-grey-dark)
}

.gov-alert--inversed p,
.gov-alert--inversed .gov-paragraph,
.gov-alert--inversed table tbody td,
.gov-alert--inversed:before {
  color: var(--gov-color-white)
}

.gov-alert--inversed .gov-alert__close:not(:hover) {
  color: var(--gov-color-white)
}

.gov-alert--warning {
  background-color: var(--gov-color-yellow)
}

.gov-alert--warning p,
.gov-alert--warning .gov-paragraph,
.gov-alert--warning table tbody td,
.gov-alert--warning:before {
  color: var(--gov-color-grey-dark)
}

.gov-alert--warning a,
.gov-alert--warning .gov-link,
.gov-alert--warning .gov-fileinput__attachments>li>span,
.gov-alert--warning .gov-portal-nav__link {
  color: var(--gov-color-grey-dark)
}

.gov-alert--error {
  background-color: var(--gov-color-error)
}

.gov-alert--error p,
.gov-alert--error .gov-paragraph,
.gov-alert--error table tbody td,
.gov-alert--error:before {
  color: var(--gov-color-white)
}

.gov-alert--error .gov-alert__close:not(:hover) {
  color: var(--gov-color-white)
}

.gov-alert--content {
  justify-content: flex-start;
  padding: .5rem 1rem;
  background-color: var(--gov-color-blue-hover)
}

.gov-alert--content .gov-alert__close {
  display: none
}

.gov-alert__close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--gov-color-blue);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-transform: uppercase;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
  will-change: background-color, border-color;
  -webkit-font-smoothing: antialiased;
}

.gov-alert__close:hover,
.gov-alert__close:focus {
  background: var(--gov-color-white);
}

.gov-icon::before {
  font-family: "gov-basic-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gov-icon--cross::before {
  content: "s";
}

.gov-alert--content:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--gov-color-error)
}

@media(max-width: 51.99em) {
  .gov-alert__close {
    right: 0
  }
}

@media(max-width: 31.99em) {
  .gov-alert {
    padding-left: .9375rem;
    padding-right: 2.1875rem
  }

  .gov-alert__content {
    margin-left: .625rem
  }
}
