{% if node.field_notification_type.value %}
  {% set notification_type = node.field_notification_type.0.value %}
{% endif %}

{{ attach_library('csgov_theme/gov-notification') }}

<div role="alert" class="gov-alert gov-alert--{{ notification_type|clean_class }}">
  <div class="gov-alert__content">
    {{ content.field_body.0 }}
  </div>
  <button class="gov-button--icon-only gov-alert__close" aria-label="Zavřít upozornění">
    <span aria-hidden='true' class="gov-icon gov-icon--cross"></span>
  </button>
</div>
