<div class="mobile-number">
  <div class="gov-icon field-mobile__icon" aria-label="{{ 'Mobil'|t }}">
    <span class="gov-icon__holder">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" fill="none">
        <path fill="currentColor" d="M15 40.001C15 39.449 15.448 39.001 16 39.001H19C19.552 39.001 20 39.449 20 40.001V43.001C20 43.553 19.552 44.001 19 44.001H16C15.448 44.001 15 43.553 15 43.001V40.001ZM21.5 40.001C21.5 39.449 21.948 39.001 22.5 39.001H25.5C26.052 39.001 26.5 39.449 26.5 40.001V43.001C26.5 43.553 26.052 44.001 25.5 44.001H22.5C21.948 44.001 21.5 43.553 21.5 43.001V40.001ZM29 39.001C28.448 39.001 28 39.449 28 40.001V43.001C28 43.553 28.448 44.001 29 44.001H32C32.552 44.001 33 43.553 33 43.001V40.001C33 39.449 32.552 39.001 32 39.001H29Z"/>
        <path fill="currentColor" fill-rule="evenodd" d="M15 0.000854492C12.7909 0.000854492 11 1.79171 11 4.00085V44.0009C11 46.21 12.7909 48.0009 15 48.0009H33C35.2091 48.0009 37 46.21 37 44.0009V4.00085C37 1.79172 35.2091 0.000854492 33 0.000854492H15ZM30 1.50085C29.4477 1.50085 29 1.94857 29 2.50085V3.00085C29 3.55314 28.5523 4.00085 28 4.00085H20C19.4477 4.00085 19 3.55314 19 3.00085V2.50085C19 1.94857 18.5523 1.50085 18 1.50085H15C13.6193 1.50085 12.5 2.62014 12.5 4.00085V44.0009C12.5 45.3816 13.6193 46.5009 15 46.5009H33C34.3807 46.5009 35.5 45.3816 35.5 44.0009V4.00085C35.5 2.62014 34.3807 1.50085 33 1.50085H30Z" clip-rule="evenodd"/>
      </svg>
    </span>
  </div>
  {{ mobile_number }}
</div>
