.calendar-item {
  background: var(--calendar-item-future-background);
  color: var(--calendar-item-future-foreground);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.calendar-item .calendar-date,
.calendar-item span,
.calendar-item a {
  color: var(--calendar-item-future-foreground);
}

@media screen and (min-width: 30rem) {
  .calendar-item {
    flex-direction: row;
  }
}

.calendar-item__date {
  padding: 0.5em;
  align-items: center;
  display: flex;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
}

@media screen and (min-width: 30rem) {
  .calendar-item__date {
    width: var(--calendar-item__date-width);
  }
}

.calendar-item__date .field,
.calendar-item__date .block {
  width: 100%;
}

.calendar-item__title {
  margin: 0;
}

.calendar-date {
  margin: 0 auto;
}

.calendar-date span {
  font-size: var(--calendar-item__date-number-size);
  display: block;
  font-weight: var(--fw-extra-bold);
  margin: 0;
}

.calendar-item__content {
  padding: 0.5em;
  border-top: var(--calendar-item-border) solid var(--c-default-bg);
}

@media screen and (min-width: 30rem) {
.calendar-item__content {
    border-left: var(--calendar-item-border) solid var(--c-default-bg);
    border-top: none;
    width: calc(100% - var(--calendar-item__date-width));
  }
}

/* ll regions has one third unit gap between them. */
.calendar-item__content [class^='calendar-item__'] + [class^='calendar-item__'] {
  margin-top: 0.3em;
}


.calendar-item--current {
  background: var(--calendar-item-current-background);
  color: var(--calendar-item-current-foreground);
}

.calendar-item--current .calendar-date,
.calendar-item--current span,
.calendar-item--current a {
  color: var(--calendar-item-current-foreground);
}

.calendar-item--past {
  background: var(--calendar-item-past-background);
  color: var(--calendar-item-past-foreground);
}

.calendar-item--past .calendar-date,
.calendar-item--past span,
.calendar-item--past a {
  color: var(--calendar-item-past-foreground);
}

@media screen and (min-width: 30rem) {
  .node--type-board .calendar-item .calendar-item__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5em;
    row-gap: 0.5em;
  }
}

@media screen and (min-width: 30rem) {
  .node--type-board .calendar-item .calendar-item__tags .field__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5em;
    row-gap: 0.5em;
  }
}
