/* Styling for summary view mode. */
.summary {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: var(--trans-out);
}

@media screen and (min-width: 40rem) {
  .summary {
    flex-direction: row;
  }
}

.summary__content {
  transition: var(--trans-out);
  width: 100%;
}

p:first-child {
  margin-top: 0;
}

.summary__title {
  display: inline-block;
  margin-top: 0;
}

.summary__title a {
  display: block;
  transition: var(--trans-out);
}

.summary__tags {
  font-size: var(--fs-small);
}

.summary:hover {
  transition: var(--trans-in);
}
