/* Styling for tile view mode. */
.tile {
  height: 100%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  transition: var(--trans-out);
  border-radius: var(--tile-border-radius);
  box-shadow: var(--view-mode-box-shadow);
}

.tile__image img {
  display: block;
}

.tile__content {
  background: var(--tile-background);
  bottom: 0;
  color: var(--tile-foreground);
  position: absolute;
  text-align: center;
  width: 100%;
  transition: var(--trans-out);
}

.tile__title {
  margin: 0;
}

.tile__title a {
  color: var(--tile-foreground);
  display: block;
  padding: 0.5em 0.5em;
  transition: var(--trans-out);
}

.tile:hover,
.tile:focus-within {
  transition: var(--trans-in);
  box-shadow: var(--view-mode-box-shadow-hover);
}

.tile:hover .tile__content,
.tile:focus-within .tile__content {
  background: var(--tile-background-hover);
  color: var(--tile-foreground);
  transition: var(--trans-in);
}

.tile:hover .tile__content a,
.tile:focus-within .tile__content a {
  color: var(--tile-foreground);
  transition: var(--trans-in);
  background: transparent;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .tile:hover,
  .tile:focus-within {
    filter: brightness(120%);
  }
}

:root[data-force-color-mode="dark"] .tile:hover,
:root[data-force-color-mode="dark"] .tile:focus-within {
  filter: brightness(120%) contrast(1);
}
