.web {
  display: flex;
  align-items: center;
  gap: var(--csgov-spacing-xs);
}

.field-web__icon .gov-icon__holder {
  width: 1rem;
  height: 1rem;
}

.field-web {
  max-width: 30rem;
}

.field-web a {
  padding-block: var(--csgov-spacing-s);
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 45em) {
  .field-web {
    max-width: 20rem;
  }

  .field-web a {
    padding-block: 0;
  }
}
